.calendar-container {
    width: 80%; /* Maak de breedte wat kleiner voor een centrale weergave */
    height: 600px; /* Aanpassen naar een grotere hoogte */
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow-y:scroll;
    margin: 40px auto; /* Zorgt ervoor dat de kalender in het midden van het scherm staat */
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Zorgt ervoor dat de navbar altijd bovenaan staat */
}

.th {
    text-decoration: none;
    color: black;
}

.navbar-nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav-link {
    flex: 1;
    text-align: center;
}

.nav-link.active {
    font-weight: bold;
    color: #007bff;
}

.nav-link:hover {
    text-decoration: underline;
}

.container {
    margin-top: 80px; /* Zorgt ervoor dat de inhoud niet achter de navbar zit */
}